@charset "UTF-8";

*{
   margin:0px;
   padding:0px;
}
h1{
   Background-image: linear-gradient(200deg, #4AABC3, #0E9DC4);
   color:white;
   padding:20px;
}
img{
   padding: 20px 0px;
   width: 100px;
   display:block;
   margin:auto;
}
h2{
   text-align:center;
   padding: 20px;
}
main{
   text-align:justify;
   padding: 30px;
}
li{
   padding: 40px 0px;
}
a{
   color:#32C5FA;
   text-decoration: none;
}















