@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Sriracha&display=swap');

*{
   margin: 0px;
   padding: 0px;
}
html,body{
   min-height: 100vh;
   background-color: darkgray;
}
body{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
header{
   text-align: center;
   padding: 50px 0px;
   background-color: black;
   color: white;
}
header h1{
   font-size: 3em;
   font-family: 'Passion One', cursive;
   font-variant: small-caps;
}
header a, footer a{
   text-decoration: none;
   color: white;
   font-weight: bolder;
}
header a:hover, footer a:hover{
   text-decoration: underline;
}
main{
   background-color: white;
   font-size: 2em;
   font-family: 'Sriracha', cursive;
}
main p{
   margin: 0px;
}
section{
   padding: 10vw 5vw;
   line-height: 2em;
}
section.normal{
   background-color: white; 
}
#img1 article{
   background-color: rgba(0, 100, 0, 0.171);
   padding: 5px 0px;
   width: 400px;
}
.normal article{
   padding: 40px 0px;
}
.imagem{
   padding: 40px;
   background-color: gray;
}
#img2 article{
   padding: 5px 0px;
   background-color: rgba(128, 128, 128, 0.604);
   width: 400px;
   color: white;
}
footer{
   color: white;
   text-align: center;
   padding: 5px;
   background-color: black;
}
