.start{
   display: none;
}
body{
   background: white;
}
*{
   margin:0px;
   padding:0px;
   box-sizing: border-box;
}
.conteiner1{
   background-color:black;
   padding-bottom:10px;
}
.conteiner1 h1{
   color: orange;
   text-align:center;
   padding:10px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.conteiner1 img{
   padding:10px;
   display:block;
   margin:auto;
   width: 60vw;
   max-height: 800px;
}
.conteiner2 {
   padding: 20px;
}
.conteiner2 h2{
   color: black;
   font-size: 2.5em;
}
.conteiner2 .teiko{
   padding: 20px 0px;
   width: 90vw;
   margin: auto;
   display: block;
}
.conteiner2 h3{
   padding: 10px 0px;
   font-size: 2em;
}
.conteiner3 p{
   padding: 10px 0px;
}
.wrapper .header{
  width: 100%;
  height: 50px;
  background-color: orange;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.493);
}
.card_wrap{
   padding: 20px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.card_wrap .name{
   font-size: 1.5em ;
   white-space: nowrap;
   font-weight: bold;
   padding: 10px 0px;
   
}
.card_wrap .card_item{
   padding: 15px 25px;
   width: 30%;
   min-width: 400px;
   
}
.card_wrap .card_inner{
   padding: 35px 20px;
   min-width: 225px;
   min-height: 315px;
   width: 100%;
}
.card_wrap .card_inner img{
   width: 100%;
   margin-bottom: 5px;
   max-height: 400px;
}
.card_wrap .card_inner .film{
   text-align: justify;
   font-size: 16px;
   line-height: 20px;
   padding: 20px 0px;
}
.kyse{
   background-color: gold;
   position: relative;
}
.murasakibara{
   background-color: rgb(170, 71, 212);
   position: relative;
}
.kuroko{
   background-color: aqua;
   position: relative;
}
.aomine{
   background-color: rgba(10, 20, 169, 0.76);
   position: relative;
}
.Midorima{
   background-color: green;
   position: relative;
}
.Akashi{
   background-color: rgba(255, 0, 0, 0.63);
   position: relative;
}
@media (max-width: 900px ){
   .card_wrap{
      display: block;
      columns: 1;
   }
   .card_item{
      margin: auto;
   }
}









































































































































































































































