@charset "UTF-8";

body{
   background-color: #0F1216;
   margin: 0px 40px;
   padding: 0px;
   color: white;
}
header{
   margin: 0px;
}
div.container{
   text-align: center;
   margin: 100px 20px;
}
div.container .logo{
   border-radius: 50%;
   width: 150px;
}
div.container .button{
   border: 1px solid white;
   padding: 10px;
   display: inline-block;
   border-radius: 3px;
}
.planos{
   justify-content: center;
   margin: 50px 0px;
   display: flex;
   flex-wrap: wrap;
}
.planos .box{
   justify-content: center;
   width: 300px;
   margin-right: 10px;
   border: 1px solid white;
   padding: 20px; 
}
.planos .box img{
   width: 100%;
}
div.text{
   text-align: justify;
}
.planos div.box h4{
   text-align: center;
   background-color: white;
   color: black;
   padding: 20px;
   font-weight: 900;
   font-size: 1em;
   border-radius: 5px;
}